/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}


.waffle {
  display: flex;
  flex-wrap: wrap; 
 /*  or use flex-flow: row wrap; */
  width: 140px; 
/*   140 for 10, 280 for 20 across */
}

.block{
  width: 10px;
  height: 10px;
  margin: 2px;
  /* background-color: #fe4a49; */
}

.hist-chart{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #eee;
  width: 140px;
  padding: 1em;
}

.group{
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

/*changed from block to brick for 2nd ex*/
.brick {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: #fe4a49;
}

.stack{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  width: 150px;
  background-color: #ddd;
}

.group1{
  display: flex;
  flex-direction: column-reverse;
  margin: 0.5rem 0;
  width: 45px;
  align-items: center;
}

.block1{
  width: 15px;
  order: 1;
  margin-bottom: 0rem;
}

.label{
  order: 0;
  width: 50px;
  text-align: center;
}

.count{
  order: 2;
}

